.thumbnail-img {
  width: 100px;
  height: 100px;
}

table,
th,
td {
  border: 1px solid black;
  /* center the table */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
}
