/* Basic Reset */

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #efefef;
  height: 80px;
  unicode-bidi: isolate;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App-logo {
  width: 64px;

  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}
.nav-title:hover {
  color: #ffffff;
}
.navbar ul {
  list-style-type: none;
  padding: 12px 0px;
}

.navbar ul li {
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  padding: 0px 6px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bolder;
  transition: all 0.3s ease;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  --tw-bg-opacity: 1;
  background-color: rgb(169 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.nav-btn-primary {
  background-color: #f0512a;
  color: white;
  margin-bottom: 24px;
  border-radius: 20px;
  border: none;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
.bit-primary:hover {
  background-color: #f0512a;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 0.875rem;
  font-family: "Cairo-Bold";
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-btn-secondary {
  background-color: transparent;
  color: black;
  margin-bottom: 24px;
  border: none;

  font-size: 0.875rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btn-secondary:hover {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 0.875rem;
  font-weight: 900;
  text-decoration: none;
  transition: all 0.3s ease;
}
.username {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-family: "Cairo-Bold";
}
.leading {
  /* position: absolute; */
  /*center the content on a basis line */
  display: flex;
  justify-content: center;
  align-items: center;
}
.leading-icon {
  /* position: absolute; */
  margin-right: 10px;
  left: 80%;
  margin-bottom: 20px;
}
.adding-menu {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-icon {
  margin-right: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 700px) {
  .navbar {
    height: 100px;
    width: 100%;
    align-items: center;
  }
  .navbar ul {
    display: none;
  }
  .navbar ul li {
    display: block;
    margin: 10px 0;
  }
  .navbar ul li a {
    display: block;
    padding: 10px 0;
  }
  .navbar ul li a:hover {
    background-color: #f0512a;
    color: white;
  }
  .navbar ul li a.active {
    background-color: #f0512a;
    color: white;
  }
  .navbar ul li a {
    padding: 0px 6px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    font-weight: bolder;
    transition: all 0.3s ease;
  }
  .navbar ul li a:hover,
  .navbar ul li a.active {
    --tw-bg-opacity: 1;
    background-color: rgb(169 0 0 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .nav-btn-primary {
    background-color: #f0512a;
    color: white;
    margin-bottom: 24px;
    border-radius: 20px;
    border: none;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .bit-primary:hover {
    background-color: #f0512a;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 0.875rem;
    font-family: "Cairo-Bold";
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .nav-btn-secondary {
    background-color: transparent;
    color: black;
    margin-bottom: 24px;
    border: none;

    font-size: 0.875rem;
    font-weight: 900;
    text-decoration: none;
    transition: all;
  }
}
